* {
    box-sizing: border-box;
}

.add-reference-container {
    border: 1px solid black;
    border-radius: 5px;
    max-width: 70%;
    height: 100%;
    margin: auto;
    padding: 20px;
}

.formContainer {
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.addRefButton:hover {
    background-color: dodgerblue;
    color: white;
    font-weight: bold
}

.add-form-input {
    margin-left: 5px;
}

.description-box {
    min-width: 20%;
    min-height: 4em;
    overflow: scroll;
    
}